NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://simrs:PasswordSimrs123@localhost:8888/simrs?schema=public
CORS_ORIGINS=http://localhost:5173

# Minimal 32 karakter. Buat dengan: openssl rand -base64 48
JWT_SECRET=loGTs-gJVMnJhHHghpvIvG3hiYkC-voeNRrkDz3Sx0P-iouH7xKcV-wmB_J9nbtm
JWT_REFRESH_SECRET=uDy1rJAvX2T0jnynbHKmDOn__C4BaGJIZ4mLCKqQfKiD2CBZLJYrnBgtVytrGArD
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d

STORAGE_DRIVER=local
STORAGE_LOCAL_PATH=./storage
DEFAULT_BRANCH_CODE=MAIN
