# Dependencies
node_modules/

# Build output
dist/
build/

# Env
.env
.env.local
.env.*.local
.env.production
.env.development

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Storage & uploads
storage/

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Cache & build
.cache/
coverage/
*.tsbuildinfo
.eslintcache

# Prisma
prisma/*.db

# Backup database
*.sql
*.dump
backup-*

# File sensitif & testing
login.json
reset-password.sql
check-*.js
create-*.js
test-*.js